<app-header></app-header>
<div class="flex flex-row">
    <div class="basis-1/6">
        <app-navbar></app-navbar>
    </div>

    <div class="basis-11/12">
      <h1 appTitleH1="Address"></h1>
        
        <div class="flex flex-row space-x-4">
            <div class="mt-3 w-full">
                <div class="mb-1 text-neutral-400">City*</div>
                <input [(ngModel)]="address.il" type="text" class="form-input rounded-full w-full" placeholder="City" />
            </div>

            <div class="mt-3 w-full">
                <div class="mb-1 text-neutral-400">District*</div>
                <input [(ngModel)]="address.ilce"  type="text" class="form-input rounded-full w-full" placeholder="District" />
            </div>
        </div>

        <div class="flex flex-row space-x-4">
            <div class="mt-3 w-full">
                <div class="mb-1 text-neutral-400">Neighborhood*</div>
                <input [(ngModel)]="address.Mahalle" type="text" class="form-input rounded-full w-full" placeholder="Neighborhood" />
            </div>

            <div class="mt-3 w-full">
                <div class="mb-1 text-neutral-400">Address*</div>
                <input [(ngModel)]="address.adres"  type="text" class="form-input rounded-full w-full" placeholder="Address" />
            </div>
        </div>
        <div class="flex flex-row space-x-4">
            <div class="mt-3 w-full">
                <div class="mb-1 text-neutral-400">No*</div>
                <input [(ngModel)]="address.kapiNo" type="text" class="form-input rounded-full w-full" placeholder="No" />
            </div>

            <div class="mt-3 w-full">
                <div class="mb-1 text-neutral-400">Note*</div>
                <input [(ngModel)]="address.not"  type="text" class="form-input rounded-full w-full" placeholder="Note" />
            </div>
        </div>

        <button (click)="fncAddressAdd()" class="mt-3 px-4 py-3 rounded-full bg-emerald-800 text-white" type="submit">Send</button>

        <div class="flex flex-col overflow-scroll overflow-x-hidden" style="height: 300px;">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full">
                    <thead class="border-b">
                      <tr>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          #
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            Id
                          </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          City
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          District
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                          Address
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 py-4 text-left">
                            Delete
                          </th>
                      </tr>
                    </thead>
                    <tbody>


                      <tr class="border-b" *ngFor="let item of allAddress; let i = index" >
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"> 
                            {{i+1}}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"> <a (click)=" fncDetail( i ); ngxSmartModalService.getModal('addressModal').open()" class="cursor-pointer" >{{item.id}}</a>
                             </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                          {{item.il}}
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                          {{item.ilce}}
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                          {{item.adres}}
                        </td>
                        <td class="text-sm text-center  text-gray-900 font-light px-1 py-4 whitespace-nowrap">
                            <button (click)="fncRemove(item.id!)" class="text-white bg-red-500 p-1 rounded "> <fa-icon class="text-base " [icon]="faDeleteLeft"></fa-icon></button>
                          </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <ngx-smart-modal #addressModal identifier="addressModal">
            <h1 class="text-2xl"> {{ modelAddress.il }} </h1>

            <div class="mt-2">
              <label class="float-left" style="width: 120px;" >District: </label><label>{{ modelAddress.ilce }}</label>
            </div>
            
            <div class="mt-2">
              <label class="float-left" style="width: 120px;" >Neighborhood: </label><label>{{ modelAddress.Mahalle }}</label>
            </div>

            <div class="mt-2">
              <label class="float-left" style="width: 120px;" >Address: </label><label>{{ modelAddress.adres }}</label>
            </div>

            <div class="mt-2">
              <label class="float-left" style="width: 120px;" >Address No: </label><label>{{ modelAddress.kapiNo  }}</label>
            </div>

            <div class="mt-2">
              <label class="float-left" style="width: 120px;" >Note: </label><label>{{ modelAddress.not }}</label>
            </div>

            <div class="mt-2">
              <label class="float-left" style="width: 120px;" >Date: </label><label>{{ modelAddress.tarih }}</label>
            </div>
            
          </ngx-smart-modal>

    </div>
</div>