<app-header></app-header>
<div class="flex flex-row">
    <div class="basis-1/6">
        <app-navbar></app-navbar>
    </div>
    <div class="basis-11/12">
    <h1 appTitleH1="Profile"></h1>

    <div class="mt-3">
        <div class="mt-1 text-slate-400">User Name*</div>
        <input [(ngModel)]="user.userName" class="form-input rounded-full w-full" placeholder="Username">
    </div>

    <div class="mt-3">
        <div class="mt-1 text-slate-400">E-mail*</div>
        <input [(ngModel)]="user.userEmail" type="text" class="form-input rounded-full w-full" placeholder="E-Mail">
    </div>

    <div class="mt-3">
        <div class="mt-1 text-slate-400">Phone*</div>
        <input [(ngModel)]="user.userPhone" type="text" class="form-input rounded-full w-full" placeholder="Phone">
    </div>

    <div class="mt-3">
        <div class="mt-1 text-slate-400">Password*</div>
        <input [(ngModel)]="password" type="password" class="form-input rounded-full w-full" placeholder="Password">
    </div>

    <button (click)="fncUpdate()" class="mt-3 px-3 py-3 rounded-full bg-emerald-800 text-white">Send</button>

    </div>
</div>


